@model IEnumerable<QLBH.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donvitinh)
        </th>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiSP.TenLoaiSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donvitinh)
        </td>
        <td>
            @String.Format("{0:0,### Đồng}", item.Dongia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiSP.TenLoaiSP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSP }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSP })
        </td>
    </tr>
}

</table>
