@model IEnumerable<QLBH.Models.CTHD>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DongiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Giamgia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoaDon.MaKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.TenSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Soluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DongiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Giamgia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoaDon.MaKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.TenSP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
